<h2>Your Cart</h2>
<table class="table">
  <tbody>
      <%= render(@cart.line_items) %>
      <tr>
        <td></td>
        <td><p class="pull-right"><strong>Total</strong><p></td>
        <td><%= number_to_currency(cart.total_price) %></td>
      </tr>
  </tbody>
</table>

<%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are You Sure?' }, :class => "btn btn-inverse" %>