<% if notice %>
<div class="alert">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<%= notice %>
</div>
<% end %>
<h2>Your Cart</h2>
<table class="table">
  <tbody>
      <% render(@cart.line_items) %>
      <tr>
        <td id="emptycart">
            <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are You Sure?' }, :class => "btn btn-inverse", remote: true %>
        </td>
        <td><p class="pull-right"><strong>Total</strong><p></td>
        <td><%= number_to_currency(@cart.total_price) %></td>
      </tr>
  </tbody>
</table>