<!DOCTYPE html>
<html>
<head>
	<title>Rolling Stone's Top 100 Albums</title>
	<style>
		.highlight {
			color: red; 
		}
	</style>
</head>
<body>
	<h1>Rolling Stone's Top 100 Albums</h1>
	<%= yield %>
</body>
</html>